body {
    background-image:url("../images/background.jpeg");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:center; 
}
#container{
    background:url("../images/dossier_template_gimp.gif");
    background-size: 100% 100%;
    position:absolute;
    width: 980px;
    height: 560px;
    top: 50%;
    margin-top:-280px;
    left:50%;
    margin-left:-490px;
}
#pTF{
    position:relative;
    top:37px;
    left:90px;
    filter:drop-shadow(2px 2px 5px black);
}
select{
    background:transparent;
    border:none;
}

input{
    background:transparent;
    border:none;
}
select{
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
}
footer{
    color:white;
    text-align:center;
    position:absolute;
    bottom: 10px;
    width: 100%;
    font-size:24px;
    filter:drop-shadow(6px 6px 10px black);
}
